.text-full-shadow {
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.text-full-ilumination {
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.dual-aura {
  box-shadow:
    0 0 20px rgba(255, 220, 120, 0.5),
    inset 0 0 20px rgba(255, 220, 120, 0.5);
}

.gold-aura {
  filter: drop-shadow(0 0 15px rgba(255, 219, 120, 0.726));
}

.white-aura {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.726));
}
